
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #90AEAD;
}

nav {
    text-align: center;
}

.date {
    color: #874F41;
    font-size: 0.8em;
    padding-bottom: 10px;
}

.description {
    padding-bottom: 20px;
}

a:hover {
    color: #E64833;
}

header h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family:Trebuchet MS, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #E64833;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: #E64833;
}

h3 {
    padding-bottom: 7px;
    color: #244855;
}

p {
    color: #FBE9D0;
}

h3,
p {
    font-family: Arial, sans-serif;
}

ul {
    padding-left: 20%;
    padding-right: 20%;
}

#Contact {
    padding-bottom: 75px;
}

a {
    color: #244855;
}